<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>CLIENT_ID</key>
	<string>738586380720-n15hf89vg82kefmflrcscvgr8p9ildoc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.738586380720-n15hf89vg82kefmflrcscvgr8p9ildoc</string>
	<key>API_KEY</key>
	<string>AIzaSyCjQ6bvjXqLE1vib60VtdYl82ddy-Akr-0</string>
	<key>GCM_SENDER_ID</key>
	<string>738586380720</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ottoryo.Top</string>
	<key>PROJECT_ID</key>
	<string>topdatabase-fa55d</string>
	<key>STORAGE_BUCKET</key>
	<string>topdatabase-fa55d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:738586380720:ios:6870e613f2666ece496e75</string>
</dict>
</plist>
